.question {
  margin-top: 8px;
  margin-bottom: 10px;
  background: #fefefe;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.04);
  padding: 20px;

  & * .question {
    margin-top: 8px;
  }

  p {
    color: #29292e;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;

    .user-info {
      display: flex;
      align-items: center;

      > img {
        width: 30px;
        height: 30px;
        border-radius: 70%;
      }
      span {
        font-size: 12px;
        color: #737380;
        padding-left: 10px;
        font-family: "Poppins", sans-serif;
      }
    }
  }
}
